.containerQuickMenu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 5px 15px;
    position: absolute;
    top: 0rem;
}

.wrapQuickMenu {
    border: #111 solid 2px;
    width: 25rem;
    height: 3rem;
    background: rgb(204, 195, 214);
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
    /* padding: 1px; */
}

.wrapQuickMenu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
	font-family: Poppins-Regular;
    text-decoration: none;
    font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
    transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;

}

ul{
	margin: 0px;
	list-style-type: none;
    
}

  
  a:focus {
	outline: none !important;
}

.Colorir:hover {
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(124, 40, 202)
  }
