.errorSpan {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #5f57cd;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

